extends ../layout

block content
	each post, i in posts
			h4: a(href='/posts/view/#{post._id}')= post.title
			p(style='text-align: justify')= post.content

			<small class="meta muted"> #{post.create_date.toDateString()} </small>
			<small class="meta muted"> | Author:  #{post.author.display_name} </small>
			hr
block sidebar
	if (!user)
		a.btn.btn-primary.btn-md(href="/login") Login
		&nbsp;
		a.btn.btn-success.btn-md(href="/signup") SignUp
	if (user)
		p You are currently logged in as <b>#{user.display_name}</b>
		a.btn.btn-primary.btn-md(href="/changeinfo/#{user._id}") Change Info
		&nbsp;
		a.btn.btn-success.btn-md(href="/logout") Logout
	</br> </br>
	a.btn.btn-primary(href="/posts/addpost") Create Post