extends ../layout

block content
	h2= post.title
	<hr>
	b Create Date:
	p= post.create_date.toDateString()
	b Last Modified:
	p= post.modified_date.toDateString()
	b Content:
	p(style=" text-align: justify")= post.content
	if (typeof(user) != 'undefined' && post.author._id.equals(user._id))
		a.btn.btn-info.btn-md(href='/posts/edit/#{post._id}') Edit
		
	br
	b Author: 
	a(href="/user/#{post.author._id}")= post.author.display_name
	p <b>Tags:</b>
		each tag, i in post.tags
			a(href='/tags/#{tag.name}')= tag.name
			if (i < post.tags.length - 1)
				<small> , </small>
	p Comment
	input.form-control(style="text", placeholder="Comment here")